.LandingPage{
    background: rgb(43, 41, 41);
    height: 100vh;
    overflow: hidden;
}


.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    .logo{
        background-color: rgb(184, 66, 146);
        color: white;
        padding: 1em 2em;
    }
    .navlinks{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 40%;
        list-style: none;
        .link{
            text-decoration: none;
        }
    }
}

.Hero-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    //height: 100vh;
    .Text{
        margin: 3em;
        border: 2px solid pink;
        h1{
            color: rgb(184, 66, 146);
        }
        p{
            color: #ccc;
        }
        .btn{
            padding: 1em 2em;
            background: #fff;
            color: black;
        }
    }
    .ImageContainer{
        width: 60%;
        img{
            width: 100%;
        }
    }
}